@font-face {
    font-family: 'font1';
    src: url("Pacifico-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font2';
    src: url("PlaywriteIN-VariableFont_wght.ttf");
}

body {
    color: black;
    font-family: 'font1', 'font2';
    margin: 0;
    padding: 0;
    background: url("1305673.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header h1 {
    color: #09122C;
    padding: 1.5rem;
    text-align: center;
    border-radius: 15px;
    margin: 1rem auto;
    max-width: 1150px;
}

nav {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    margin: auto;
    max-width: 90%;
}

nav a {
    color: #09122C;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    transform: translateY(-5px);
    text-decoration: none;
    background-color: #6f6c6b;
}

.post h2 {
    font-family: 'font1';
}

.post2 h2 {
    font-family: 'font1';
}

.post p {
    font-family: 'font2';
}

.post2 p {
    font-family: 'font2';
}

.list li {
    font-family: 'font2';
}

.list b {
    font-family: 'font1';
}

.post {
    margin-bottom: 2rem;
    max-width: 1350px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px #09122C;
    border-radius: 10px;
    flex: 1;
    background-color: white;
    position: relative;
}

.post2 {
    margin-bottom: 2rem;
    max-width: 1350px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px #09122C;
    border-radius: 10px;
    flex: 1;
    background-color: white;
}