body{
    background: linear-gradient(to bottom, #E5989B,#B5828C);
    background-repeat: no-repeat;
    height: 65vh;
}
div{
    background-color: #FFB4A2;
    padding: 5px;
    border-radius: 5px;
    margin-top: 250px;
    margin-left: 350px;
    margin-right: 350px;
}
fieldset{
    border-radius: 10px;
    border-color: #FFB4A2;
    text-align: center;
}